mixin button(choice)
    button.btn.btn-default.center(type='submit', value=choice.choice, id=choice._id, data-votes=choice.votes)
        =choice.choice

.panel.panel-default
    #headingOne.panel-heading.clearfix(role='tab')
        h4.panel-title
            a(role='button', data-toggle='collapse', data-parent='#accordion', href='#'+poll._id, aria-expanded='true', aria-controls='collapseOne', data-user=poll.user_id)
                =poll.name
                
            ul.share-buttons.pull-right
                li
                    a(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fimmense-dawn-70417.herokuapp.com%2Fvote%2F"+poll._id "&t=", target="_blank" title="Share on Facebook")
                        i.fa.fa-facebook-square(aria-hidden="true")
                            span.sr-only
                                |Share on Facebook
                li
                    a(href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fimmense-dawn-70417.herokuapp.com%2Fvote&text=vote:%20https%3A%2F%2Fimmense-dawn-70417.herokuapp.com%2Fvote%2F"+poll._id target="_blank" title="Tweet")
                        i.fa.fa-twitter-square(aria-hidden="true")
                            span.sr-only
                                |Tweet
    .panel-collapse.collapse(id=poll._id, role='tabpanel', aria-labelledby='headingOne')
      .panel-body
        .btn-toolbar
            each choice in poll.choices
                +button(choice)